  <main class="col-md-12 ">
      

    <div class=" row text-right well ">
        <div class="col-md-10 pull-right ">
          <label class="radio-inline">
            <input type="radio" name="optradio">Alphabet
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio">Latest
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio">Most Liked
          </label>
        </div>
        <div class="col-md-1 pull-left text-left">
            <a href="#" class="btn btn-default" onclick="toggleID('advancedFilter')" >Advanced <span class="glyphicon glyphicon-triangle-bottom"></span></a>
        </div>
    </div>
      <!-----toggle advanced filter---------->
    <div class="row well" id="advancedFilter" >
      
      <div class="col-md-4 text-center">
        <label for="Date">Date</label>
        <select class="form form-control" name="Date">
        </select>
      </div>
      <div class="col-md-4 text-center">
        <label for="Specie">Specie</label>
        <input type="text" class="form form-control" name="Specie" >
      </div>
      <div class="col-md-4 text-center">
        <label for="Category">Category</label>
        <select class="form form-control" name="Category">
        </select>
      </div>
    </div>
      <!-----------------END-------------->
      
    <div class="row">
          
    
        <a href="#"> <div class="col-md-4" >
                  
                    <div class="panel panel-default">
                       <div class="panel-heading"><strong><a class="post-title" href="" ng-click="$parent.actionView='articleDetails'">Post Title</a></strong></div>
                           <div class="panel-body">
                               <div class="col-md-6">
                                   <a href="#" class="thumbnail"><img src="http://placehold.it/260x180" alt=""></a>
                               </div>     
                               <p>
                                   Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. 
                                   Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, 
                                   ea mei omittam explicari conclusionemque ad nobis propriae quaerendum sea.
                                   sum dolor sit amet, id nec conceptam conclusionemque.sum dolor sit amet.
                               </p>

                            </div>                  
                            <div class="panel-footer">
                                <span class="glyphicon glyphicon-user" id="start"></span> <label id="started">By</label> <a href="#" id="startedby">Admin</a> | 
                                <span class="glyphicon glyphicon-eye-open" id="visit"></span> <a href="#" id="visited">Visited</a> | 
                                <span class="glyphicon glyphicon-comment" id="comment"></span> <a href="#" id="comments">Comments</a> | 
                                <a href="#"><span class="label label-info">Tutorials</span></a>
                            </div>
                   </div>
              
        </div></a>
        <div class="col-md-4">
                  
                    <div class="panel panel-default">
                       <div class="panel-heading"><strong><a class="post-title" href="" ng-click="$parent.actionView='articleDetails'">Post Title</a></strong></div>
                           <div class="panel-body">
                               <div class="col-md-6">
                                   <a href="#" class="thumbnail"><img src="http://placehold.it/260x180" alt=""></a>
                               </div>     
                               <p>
                                   Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. 
                                   Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, 
                                   ea mei omittam explicari conclusionemque ad nobis propriae quaerendum sea.
                                   sum dolor sit amet, id nec conceptam conclusionemque.sum dolor sit amet.
                               </p>

                            </div>                  
                            <div class="panel-footer">
                                <span class="glyphicon glyphicon-user" id="start"></span> <label id="started">By</label> <a href="#" id="startedby">Admin</a> | 
                                <span class="glyphicon glyphicon-eye-open" id="visit"></span> <a href="#" id="visited">Visited</a> | 
                                <span class="glyphicon glyphicon-comment" id="comment"></span> <a href="#" id="comments">Comments</a> | 
                                <a href="#"><span class="label label-info">Tutorials</span></a>
                            </div>
                   </div>
              
        </div>
        <div class="col-md-4">
                
                    <div class="panel panel-default">
                       <div class="panel-heading"><strong><a class="post-title" href="" ng-click="$parent.actionView='articleDetails'">Post Title</a></strong></div>
                           <div class="panel-body">
                               <div class="col-md-6">
                                   <a href="#" class="thumbnail"><img src="http://placehold.it/260x180" alt=""></a>
                               </div>     
                               <p>
                                   Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. 
                                   Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, 
                                   ea mei omittam explicari conclusionemque ad nobis propriae quaerendum sea.
                                   sum dolor sit amet, id nec conceptam conclusionemque.sum dolor sit amet.
                               </p>

                            </div>                  
                            <div class="panel-footer">
                                <span class="glyphicon glyphicon-user" id="start"></span> <label id="started">By</label> <a href="#" id="startedby">Admin</a> | 
                                <span class="glyphicon glyphicon-eye-open" id="visit"></span> <a href="#" id="visited">Visited</a> | 
                                <span class="glyphicon glyphicon-comment" id="comment"></span> <a href="#" id="comments">Comments</a> | 
                                <a href="#"><span class="label label-info">Tutorials</span></a>
                            </div>
                   </div>
             
        </div>
   </div>
      
</main>
