<main class="col-md-12">
    <div class="row">
        
        <div class="col-lg-8  col-lg-offset-2  ">
            <p class="h1 page-header text-center"> Bio Bask <span class="glyphicon glyphicon-shopping-cart"></span></p>
                
                <table class="table table-responsive table-striped table-bordered table-list">
                         <thead>
                            <tr>
                                <th>Name</th>
                                <th>Specie</th>
                                <th>Description</th>
                                <th>Length</th>
                                <th>weight</th>
                                
                            </tr>
                         </thead>
                         <tbody>
                             <tr ng-repeat="code in $parent.codeCookiesArray">
                                       <td>{{code.getName()}}</td>
                                       <td>{{code.specie.getName()}}</td>
                                       <td class="hidden-xs">{{code.getDesc()}}</td>
                                       <td>{{code.getLength()}}</td>
                                       <td>{{code.getWeight()}} <span ng-show="code.getWeight()!=undefined && code.getWeight()!=''">Da</span></td>
                                 
                             </tr>
                             <tr ng-show="$parent.codeCookiesArray<1">
                                 <td colspan="5">
                                     <div class="alert alert-warning text-center" >
                                         There are not codes added in this basket                                                             
                                    </div>
                                 </td>
                            </tr>
                         </tbody>
                </table>
          
                  

        </div>
        <div class="col-lg-8  col-lg-offset-2  ">
            <hr>
            <div class="input-group input-group-lg col-lg-10">
                <select  class="form-control " aria-label="...">
                    <option> Generate FASTA</option>
                    <option> Alignment </option>
                </select>           
                <div class="input-group-btn">
                  <!-- Buttons -->
                  <button class="btn btn-primary">Action</button>
                </div>
          </div>
        </div>
    </div>
</main>
