<main class="col-lg-12  well">
        <div class="row">
            <a href="" ng-click="$parent.actionView='articles';categoryFilter='animal'"><section id="sectionAnimals" class="col-xs-12  col-lg-6 " >
                <img src="img/animal3.jpg" class="img-rounded" id="imgAnimal"> 
                 <button class="btn btn-warning">Animals</button>
            </section></a>
             <a href="" ng-click="$parent.actionView='articles';categoryFilter='plant'"><section id="sectionPlants" class="col-xs-12  col-lg-6  " ng-click="$parent.actionView='articles';categoryFilter='plant'">
                 <img id="imgPlant" class="img-rounded" src="img/header3.jpg" > 
                 <button  class="btn btn-success">Plants</button>
            </section></a>
         </div>
</main>