<!DOCTYPE html>
<html ng-app="BioLifeApp" >
    <head>
         <!--General-->
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>BioLife</title>

        <!--OWN CSS-->
        <link rel="stylesheet" type="text/css" href="css/reset.css"/>
        <link rel="stylesheet" type="text/css" href="css/index1.css">
        <link rel="stylesheet" type="text/css" href="css/articlesView.css">


        <!--css BOOTSTRAP-->
        <link rel="stylesheet" type="text/css" href="vendors/bootstrap/css/bootstrap.min.css" />

        <!--Frameworyks-->
        <!--JQuery-->
        <script src="vendors/jquery/js/jQuery.js" type="text/javascript" xml:space="preserve"></script>

        <!-- Angular-->
        <script src="vendors/angular/js/angular.min.js" type="text/javascript" xml:space="preserve"></script>
        <script src="vendors/angular/js/angular-file-upload.js" type="text/javascript" xml:space="preserve"></script>
        <script src="vendors/angular/js/angular-i18n/angular-locale_es-es.js" type="text/javascript" xml:space="preserve"></script>
        <script src="vendors/angular/js/ng-currency.js" type="text/javascript" xml:space="preserve"></script>
        <script src="vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.js" type="text/javascript" xml:space="preserve"></script>
        <script src="vendors/angular/js/angular-cookies.js" type="text/javascript" xml:space="preserve"></script>
        <script src="vendors/angular/js/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
        <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Model-->
        <script src="js/model/User.js" type="text/javascript" xml:space="preserve"></script>

        <!--Own code-->
        <script src="js/app.js" type="text/javascript" xml:space="preserve"></script>
        <script src="js/control/BioLifeController.js" type="text/javascript" xml:space="preserve"></script>
        <script src="js/control/UserController.js" type="text/javascript" xml:space="preserve"></script>


    </head>
    <body ng-controller="BioLifeController as BioLifeCtrl">
        <div  class="container-fluid" id="divFullContent">
                <header id="mainHeader" class="col-lg-12 well asideClosed">
                   <div class="row">
                        <div class="col-xs-12  col-lg-4 "></div>

                        <div class="col-xs-12  col-lg-4  text-center ">
                            <div id="titleDiv"><span class="">Bio</span><span class="azul">Life</span></div>
                        </div>

                        <div  id="iconsHeaderDiv" class="col-xs-12  col-lg-4 ">
                                  
                                <div id="loginBtnDiv">
                                        <button class="btn btn-info" id="loginBtn" ng-click="loginOpenClose()"><span class="glyphicon glyphicon-user icon-size"></span></button>
                                 </div>
                                 <div id="cartBtnDiv" class="dropdown" >
                                     <button class="btn btn-warning dropdown-toggle" id="cartBtn" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"></span></button>
                                     <ul class="dropdown-menu dropdown-cart" role="menu">
                                         <table class="table table-striped">
                                             <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Specie</th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                 <tr>
                                                     <td>secuencia1</td>
                                                     <td>dog</td>
                                                 </tr>
                                             </tbody>
                                         </table>
                                          <div class="divider"></div>
                                          <p class="text-center" ng-click="actionView='cart'"><a  href="">View Cart</a></p>
                                     </ul>
                                </div>                                                                        
                                 <div id="searchDiv" >
                                    <form  id="formSearch">
                                        <div class="searchbox">
                                            <input type="search" placeholder="Search" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
                                        </div>
                                        <input type="submit" class="searchbox-submit" value="Send">
                                        <span class="searchbox-icon"><span class="glyphicon glyphicon-search icon-size"></span>
                                    </form>
                                </div>
                        </div>
                    </div>

                     <div class="row">
                        <nav id="mainNavBarDiv" class="col-lg-12">
                             <ul class="container">
                                <li id="homeLi"><a ng-click="actionView='main'" href=""  id="homeIcon"><span class="glyphicon glyphicon-home icon-size"></a></li>
                                <li class="dropdown">
                                  <a class="dropbtn" href="" ng-click="actionView='articles'">Articles <span class="glyphicon glyphicon-triangle-bottom"></a>
                                  <div class="dropdown-content">
                                    <a href="#">Animals</a>
                                    <a href="#">Plants</a>
                                  </div>
                                </li>
                                <li><a href="" ng-click="actionView='codes'">Genetic Codes</a></li>
                               <li><a href="" ng-click="actionView='contact'">Contact</a></li>

                            </ul>
                        </nav>
                    </div>

                </header>

                <!--Main View -->
                <main-view ng-show="actionView==='main'"></main-view>

                <!-- View Contact-->
                <contact-view ng-show="actionView==='contact'"></contact-view>

                <!-- Articles View-->
                <articles-view ng-show="actionView==='articles'"></articles-view>
                 <!-- Cart View-->
                 <cart-view ng-show="actionView==='cart'"></cart-view>
                </div>
                <!--aside-->
                <aside id="logIn" class=" col-xs-12 col-md-3 col-sm-3 col-lg-3 well" ng-show="loginView" ng-controller="UserController as userCtrl">
                <!------------------------------------------------------------LOGIN VIEW------------------------------------------------------->
                <button class="btn btn-warning" id='btnLoginInside' ng-click="loginOpenClose()"><span class="glyphicon glyphicon-circle-arrow-right icon-size"></span></button>
                <h2>Login</h2>
                <div id="logoLoginDiv">
                    <img src="img/login3.png">
                </div>

                <span id="logInError"></span>
                <div id="loginInputDiv">
                    <div class="input-group inputSession">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="email" type="email" class="form-control input-lg" name="email" ng-model="user.email" placeholder="Email Address">
                    </div>
                    <div class="input-group inputSession">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control input-lg" name="password" ng-model="user.password" placeholder="Password">
                    </div>
                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                            </label>
                        </div>
                     </div>
                </div>
                <div id="loginBtns">
                        <button class="btn btn-info btn-block btn-lg">LOGIN</button>
                        <span id="forgot-password">
                         <a href="#" >
                            Forgot the password?
                        </a>
                        </span>
                        <span id="registerLink ">
                         <a href="#" data-toggle="modal" data-target="#myModal" >
                            Join us now!
                        </a>

                        </span>
                </div>

                <!-------------------------------------------------------------END--------------------------------------------------------->
            </aside>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Register</h4>
                      </div>
                      <div class="modal-body">
                          <!--Register Form-->
                        <form  class="contact_form" action="controller" id="registerForm" method="post">
                        <h2>Register new User</h2>
                        <img id="registeIcon" src="img/register.png" alt="Register Icon">
                        <table>
                          <tr>
                            <td colspan="2"><input type="text" name="Usuari" class="form form-control" placeholder="Username*" required /></td>
                          </tr>
                          <tr>
                            <td><input type="password" class="form form-control" placeholder="Password" name="Password" required /></td>
                            <td><input type="password" class="form form-control" placeholder="Repeat Password" name="Password2" required /></td>
                          </tr>
                          <tr>
                            <td><input type="text" class="form form-control" placeholder="Name" name="Nom" required/></td>
                            <td><input type="text" class="form form-control" placeholder="Surname" name="Cognoms" required/></td>
                          </tr>
                          <tr>
                            <td colspan="2"><input type="text" class="form form-control" placeholder="DNI" name="DNI" required placeholder="12345678Z" maxlength="9" size="9" /></td>
                          </tr>
                          <tr>
                            <td colspan="2"><input type="email" class="form form-control" placeholder="Email" name="Email" placeholder="name@something.com" /></td>
                          </tr>
                          <tr>
                            <td colspan="2"><input type="text" class="form form-control" placeholder="Birthday" name="Data" placeholder="DD/MM/YYYY" maxlength="10" size="10" /></td>
                          </tr>
                          <tr>
                            <td><input type="text" class="form form-control" placeholder="Company" name="Empresa"/></td>
                            <td><input type="text" class="form form-control" placeholder="Department" name="Departament"/></td>
                          </tr>
                          <tr>
                            <td><select class="form-control" name="Sexe">
                              <option>Select Gender</option>
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                            </select></td>
                            <td>
                              <select name="Interessos_professionals" class="form-control" multiple="multiple" tabindex="1">
                                <option value="medicina">Medicina</option>
                                <option value="investigacio">Investigacio</option>
                                <option value="educacio">Educacio</option>
                                <option value="altres">Altres</option>
                              </select>
                          </tr>
                          <tr>
                            <td colspan="2"><input style="width:100%" class="btn btn-info" type="submit" name="ok" value="Register"/></td>
                          </tr>
                        </table>
                    </form>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
    </body>
</html>
