  <main class="col-md-12 ">
      

    <div class=" row text-right well ">
        <div class="col-md-10 pull-right ">
          <label class="radio-inline">
            <input type="radio" name="optradio">Alphabet
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio">Latest
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio">Most Liked
          </label>
        </div>
        <div class="col-md-1 pull-left text-left">
            <a href="#" class="btn btn-default" onclick="toggleID('advancedFilter')" >Advanced <span class="glyphicon glyphicon-triangle-bottom"></span></a>
        </div>
    </div>
      <!-----toggle advanced filter---------->
    <div class="row well" id="advancedFilter" >
      
      <div class="col-md-4 text-center">
        <label for="Date">Date</label>
        <select class="form form-control" name="Date">
        </select>
      </div>
      <div class="col-md-4 text-center">
        <label for="Specie">Specie</label>
        <input type="text" class="form form-control" name="Specie" >
      </div>
      <div class="col-md-4 text-center">
        <label for="Category">Category</label>
        <select class="form form-control" name="Category">
        </select>
      </div>
    </div>
      <!-----------------END-------------->
      
    <div class="row">
          
    
        <div class="col-md-4" dir-paginate="articule in filteredData | itemsPerPage: pageSize" current-page="currentPage" data-user-id="{{articule.id}}" ng-click="$parent.actionView='articleDetails'" >
                  
                    <div class="panel panel-default">
                       <div class="panel-heading"><strong><a class="post-title" href="" >{{articule.title}}</a></strong></div>
                           <div class="panel-body">
                               <div class="col-md-6">
                                   <a href="#" class="thumbnail"><img src="http://placehold.it/260x180" alt=""></a>
                               </div>     
                               <p>
                                {{articule.abstract | limitTo : 200}}...
                               </p>

                            </div>                  
                            <div class="panel-footer">
                                <span class="glyphicon glyphicon-user" id="start"></span> <label id="started">By</label> <a href="#" id="startedby">{{articule.user}}</a> | 
                                <span class="glyphicon glyphicon-eye-open" id="visit"></span> <a href="#" id="visited">{{articule.date}}</a> | 
                                <span class="glyphicon glyphicon-comment" id="comment"></span> <a href="#" id="comments">Comments</a> | 

                            </div>
                   </div>
              
        </div>
       
        <p ng-click="$parent.actionView='articleDetails'" >View</p>
   </div>
       <div class="text-left" boundary-links="true">
			
			<dir-pagination-controls boundary-links="true" template-url="view/templates/dir-pagination-controls.html"></dir-pagination-controls>


	</div>
      
</main>
